<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Limelight & display = swap" rel = "hoja de estilo ">
        <script src="https://kit.fontawesome.com/6b8c6e67a4.js" crossorigin="anonymous"></script> 
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Montserrat: wght @ 200 & display = swap" rel = "hoja de estilo">      
        
        <title>Ártico</title>

    </head>

    <body class="fondo">
       <header class="main"><img src="../img/insecto2.jpg" class="fondoPantalla">
            
            <div class="main-header-bar">
                <img src="/img/logoprovisorio.jpg" class="logo"></img>
            </div>
            <nav>
                <div>                    
                    <input placeholder="Buscar en Árt&co" type="text"><i class="fas fa-search"></i>
                    
                </div>
            </nav>
            <nav class="main-navbar">
                
                
                <div class="main-top">
                    <p><a href="#"></a>Iniciar sesión</p>
                    <p><a href="register.html"></a>Crea tu cuenta</p>
                    <p><a href="#"></a>Acerca de</p>
                     <div class="carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </div>               
                </div>            
                <ul class="main-border">
                    <li><a href="#"></a>Comprar ahora</li>
                    <li><a href="#"></a>Subastas</li>
                    <li><a href="#"></a>Arte y Artistas</li>
                    <li><a href="#"></a>Ofertas</li>             
                </ul>
            </nav>
                
               
        </header>
       <footer></footer>
	   
    </body>

</html>