<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Limelight & display = swap" rel = "hoja de estilo ">
        <script src="https://kit.fontawesome.com/6b8c6e67a4.js" crossorigin="anonymous"></script> 
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Montserrat: wght @ 200 & display = swap" rel = "hoja de estilo">      
        
        <title>Registrarse</title>

        <a href="register"></a>


    </head>

    <body class="estilo" img src="../img/tea.jpg">
       <form action="" method="POST">
           <div>
               <label class="alinearCaja">Nombre y Apellido</label>
               <input type="text" name="nombreApellido" class="datosCliente">
           </div>
           <div>
                <label class="alinearCaja">Nombre de Usuario</label>
                <input type="text" name="nombreUsario" class="datosCliente">
            </div>
            <div>
                <label class="alinearCaja">Fecha de Nacimiento</label>
                <input type="date" name="fechaNacimiento" class="datosCliente">
            </div>
            <div>
                <label class="alinearCaja">Domicilio</label>
                <input type="text" name="domicilio" class="datosCliente">
            </div>
            <div>
                <label class="alinearCaja">DNI</label>
                    <input type="number" name="perfilUsuario" class="datosCliente">
            </div>
            <div>
                <label class="alinearCaja">email</label>
                    <input type="email" name="perfilUsuario" class="datosCliente">
            </div>

            <div>
                <label class="resaltar">Categorías de interés</label>
                    
                    <label>
                        <input type="radio" name="categoria">Arte Digital</label>
                    <label>
                        <input type="radio" name="categoria">Fotografías</label>
                    <label>
                        <input type="radio" name="categoria">Print</label>
                    <label>
                        <input type="radio" name="categoria">Pinturas</label>
                    <label>
                        <input type="radio" name="categoria">Esculturas</label>
                    <label>
                        <button id="enviar" type="reset" type="submit">Enviar</button>
                    </label>

            </div>
            

       </form>	   
    </body>

</html>
