*{
    box-sizing: border-box;
}
.logo{
    width: 200px;
    height: 100px;
    
}

img.fondoPantalla{
    width: 50%;
    height: 50%;
}
header{
    background-image: url('file:///C:/Users/carol/Downloads/DH/grupo_12_Art-Co/public/img/insecto2.jpg');
}
.main{
    font-family: 'Montserrat', sans-serif;
    color: rgb(58, 56, 48);
    margin: 5px;
    /* background-image: url ("insecto2.jpg");  */
    /* posición de fondo: centro centro;  */
    /* tamaño de fondo: 100% 100%;  */
 }
.main-navbar li{
    list-style: none;
}
.main-top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-inline-start: auto;
    margin-top: 50;
    text-transform: uppercase;
    /*border-bottom: 1px solid rgb(188, 203, 219);*/
}
p{
    margin-top: -100px;
    font-size: 10px;
}
.main-border{
    display: flex;
    width: 90%;
    justify-content: space-around;
    text-transform: uppercase;
    margin-top: 50px;
    border-top: 1px solid rgb(188, 203, 219);
    border-bottom: 1px solid rgb(188, 203, 219);
        
}

.carrito{
    margin-right: 150px;
    text-align: right;
    color:rgb(81, 99, 204);
    margin-top: -650;
    margin-left: 10px;
}

::placeholder{
    size: 1.5em;
}
.fondo{
    background-color: rgb(245, 237, 237);
}
.estilo{
    font-family: 'Montserrat', sans-serif;
    color: rgb(58, 56, 48);
    text-align: left;
    line-height: 50px;
    margin-top: 50px;
    width: 90%;
}
.resaltar{
    font-weight:bold;
    width: 10%;
    }

.datosCliente{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgb(58, 56, 48);
    border-radius: 4px;
    background-color: rgb(237, 236, 240);
    color: rgb(58, 56, 48);
    
}
#enviar{
    background-color: rgb(146, 143, 127);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  
.estiloBuscar{
    width: 30%;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(58, 56, 48);
    border-radius: 4px;
    background-color: rgb(237, 236, 240);
    color: rgb(58, 56, 48);
  }
  
  
@media (min-width: 369px)  {
    .main-top{
        flex-direction: column-reverse;
        text-align: right;  
    }
    .main-border{
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        width: 100%;
        margin-left: 0px;
    }
    /*{
        margin: 0px;
    }*/
}    
@media (min-width: 769px)  {
    .main-border{
        display: flex;
        padding: 5px;
    }
    .main-top{
        margin-right: 10px;
        
    }

}
